@model MVCTest.Models.CommonModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<hr />
<div class="pb-4 " id="div1">
    <form asp-action="Create" method="post">
        <h3 class=" text-center">User Form</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">

                        <label asp-for="userModel.Name" class="control-label"></label>
                        <input asp-for="userModel.Name" class="form-control" placeholder="Enter Name..." />
                        <span asp-validation-for="userModel.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="userModel.Email" class="control-label"></label>
                        <input asp-for="userModel.Email" class="form-control" placeholder="Email" onchange="EmailAvailability(); />
                        <span asp-validation-for="userModel.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label asp-for="userModel.Mobile" class="control-label"></label>
                            <input asp-for="userModel.Mobile" class="form-control" placeholder="Mobile" onblur="ValidPhone()" />
                            <span asp-validation-for="userModel.Mobile" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label asp-for="userModel.Country" class="control-label"></label>
                            <select asp-for="userModel.Country" class="form-control mb-2">
                                <option value="0">Select country</option>
                                <option value="India">India</option>
                                <option value="Usa">Usa</option>
                                <option value="Japan">Japan</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label asp-for="userModel.State" class="control-label"></label>
                            <select asp-for="userModel.State" class="form-control mb-2">
                                <option value="0">Select state</option>
                                <option value="Uttarakhand">Uttarakhand</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Up">Up</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label asp-for="userModel.City" class="control-label"></label>
                            <select asp-for="userModel.City" class="form-control mb-2">
                                <option value="0">Select city</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Dehradun">Dehradun</option>
                                <option value="Srinagar">Srinagar</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label asp-for="userModel.EnterBy" class="control-label"></label>
                            <select asp-for="userModel.EnterBy" class="form-control mb-2">
                                <option value="0">Select Value</option>
                                <option value="CRM">CRM</option>
                                <option value="WEB">WEB</option>
                                <option value="Facebook">Facebook</option>
                            </select>
                        </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary w-100 mt-4" />
                    </div>
                    </div>


                    <div class="col-lg-6">

                         <div class="form-group">
                            <label class="control-label">Choose courses</label>
                            <select asp-for="courseModel.selectedCourses" class="form-control" asp-items="ViewBag.AllCList" multiple>
                                <option value="1">Select courses</option>
                            </select>
                            <span asp-validation-for="courseModel.selectedCourses" class="text-danger"></span>
                        </div>
                    </div>

               
                </div>
            </div>
        </form>
       
</div>

 <input type="button" id="hide" value="Toggle User Form Add/Submit Data" class="btn btn-dark w-100 mt-4" />

<hr /> 
<h3 class="mt-3 text-center">User Data Table</h3>

@if (Model.Model1 == null || Model.Model1.Count() == 0)
{
    <p class="display-5 text-center text-danger">no record found in this table</p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.userModel.Name)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.userModel.Email)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.userModel.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.userModel.Courses)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.userModel.Country)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.userModel.State)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.userModel.City)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.userModel.EnterBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Model1) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnterBy)
            </td>
        </tr>
}
    </tbody>
</table>
}


<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

    $("#div1").hide();
    $("#hide").click(function() {
        $("#div1").toggle();
    });

    function ValidPhone() {
        $.post("https://localhost:7039/UserModel/IsPhoneValid?phoneNumber=" + $("#userModel_Mobile").val(), function(data, status) {
            if (data == false) {
                alert("sorry!! " + $("#userModel_Mobile").val() + " enter valid mobile");
            }
        });
    }

    function EmailAvailability() {
        
        $.ajax({
            type: "GET",
            url: "/Users/CheckEmailExists",
            data: { email: $("#userModel_Email").val() },
            contentType: "application/json;",
            dataType: "json",
            success: function(result) {
                if (result == true) {
                    alert("Email is already exists.");
                    return false;
                }
            }
        });

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

